[lit]
env = "dev"

[verification.api]
domain = "127.0.0.1"
session_cache_size = 10_000

[verification.api.twillio]
acct_access_token = "<TWILLIO-ACCT-ACCESS-TOKEN>"
acct_service_id = "<TWILLIO-ACCT-SERVICE-ID>"
verify_service_id = "<TWILLIO-VERIFY-SERVICE-ID>"