/target*
lit_node
/secrets*
*.db
*.log
.cargo
\#*\#
*~
ecdsa_test/
node_keys/
**/node_modules/
node_precomputes/
pubkeys*.txt
config/lit_config*.toml
config/lit_config*.env
.DS_Store
*.env
peers.txt
oauth/google_keys.json
oauth/apple_keys.json
tests/sdk/package.json
tests/sdk/yarn.lock
authorization_key.json
stytch/*
config.toml
config/*.toml
config/*.env
node_precomputes
config/test/anvil/*
config/test/hardhat/*
config/test/deploy-config.json
config/test/proxy_mappings.json
config/test/custom_node_runtime_config.toml

common/target/*

rpc-config.yaml

stytch
test_logs
tests/chain_state_cache
unsafe_triples/*
/tmp
archive.zip
